*{
    box-sizing: border-box;
}
body{
    margin: 0;
}

ul{ 
    display: flex;
    padding: 0;
    list-style-type: none; 
    height: 200px;

    border: 5px solid red;
}

li{
    background-color: beige;
}

li:nth-child(2n){ /*짝수번째의 아이템에 적용*/
    background-color: coral;
}

li:nth-child(2){ /*플렉스 컨테이너가 처음 만들어졌을 때 기본 크기를 정해줌.*/
    flex-basis: 100px; /*두번째 아이템 기본 크기: 100px*/
    flex-shrink: 2;
}


li:nth-child(3){/* 200px보다 크거나 작을 수 없음*/
    flex: 0 0 200px;
    flex: 0 1 200px;/*늘어나진 않지만 줄어들 수는 있음.*/
}